.serviceui-domainviewer__main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}
.serviceui-domainviewer__main__actions {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    align-content: flex-start;
}